#php_value output_handler ob_gzhandler
php_value zlib.output_compression 1

ErrorDocument 404 /404.html

RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?hypertrek.info(/)?.*$     [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?hypertrek.org(/)?.*$     [NC]
#RewriteRule .*\.(gif|jpg|png)$ http://www.hypertrek.info/hypertrek.jpeg [R,NC]

#RewriteRule ^dsn([.]+).html 
#RewriteRule ^dsn/dsn001.html /index.php/dsn001   [R]
RewriteRule ^dsn/dsn([0-9]{3}).html /index.php/dsn$1   [R]


Redirect permanent /astronavi/klingon/d7.html http://www.hypertrek.info/index.php/asklingonkd7
Redirect permanent /astronavi/starfleet/enterprise-d.html http://www.hypertrek.info/index.php/assfenterprised
Redirect permanent /dsn/dsn029.html http://www.hypertrek.info/index.php/dsn029
Redirect permanent /dsn/dsn101.html http://www.hypertrek.info/index.php/dsn101
Redirect permanent /dsn/dsn125.html http://www.hypertrek.info/index.php/dsn125
Redirect permanent /dsn/dsn137.html http://www.hypertrek.info/index.php/dsn137
Redirect permanent /dsn/dsn147.html http://www.hypertrek.info/index.php/dsn147
Redirect permanent /dsn/dsn170.html http://www.hypertrek.info/index.php/dsn170
Redirect permanent /ent/ent052.html http://www.hypertrek.info/index.php/ent052
Redirect permanent /ent/etc/sigla.html http://www.hypertrek.info/index.php/entsigla
Redirect permanent /etc/47.html http://www.hypertrek.info/index.php/quarantasette
Redirect permanent /etc/generator.html http://www.hypertrek.info/index.php/generator
Redirect permanent /index_download.html http://www.hypertrek.info/
Redirect permanent /download.shtml http://www.hypertrek.info/
Redirect permanent /index_main.html http://www.hypertrek.info/
Redirect permanent /index_readme.html http://www.hypertrek.info/
Redirect permanent /index_news.html http://www.hypertrek.info/
Redirect permanent /film/film04.html http://www.hypertrek.info/index.php/film04
Redirect permanent /personaggi/y/yar.html http://www.hypertrek.info/index.php/yartasha
Redirect permanent /tng/tng064.html http://www.hypertrek.info/index.php/tng064
Redirect permanent /tng/tng026.html http://www.hypertrek.info/index.php/tng026
Redirect permanent /tng/tng100.html http://www.hypertrek.info/index.php/tng100
Redirect permanent /tng/tng102.html http://www.hypertrek.info/index.php/tng102
Redirect permanent /tos/tos01.html http://www.hypertrek.info/index.php/tos01
Redirect permanent /tos/tos16.html http://www.hypertrek.info/index.php/tos16
Redirect permanent /voy/index.html http://www.hypertrek.info/
Redirect permanent /voy/voy053.html http://www.hypertrek.info/index.php/voy053
Redirect permanent /voy/voy086.html http://www.hypertrek.info/index.php/voy086
Redirect permanent /voy/voy087.html http://www.hypertrek.info/index.php/voy087
Redirect permanent /voy/voy149.html http://www.hypertrek.info/index.php/voy149
Redirect permanent /xr/m/meaney.html http://www.hypertrek.info/index.php/meaneycolm
Redirect permanent /organizzazioni/borg.html http://www.hypertrek.info/index.php/borg
Redirect permanent /specie/09/8472.html http://www.hypertrek.info/index.php/8472
Redirect permanent /specie/borg.html http://www.hypertrek.info/index.php/borg
Redirect permanent /specie/b/borg.html http://www.hypertrek.info/index.php/borg
Redirect permanent /specie/r/romulani.html http://www.hypertrek.info/index.php/romulani
Redirect permanent /specie/trill.html http://www.hypertrek.info/index.php/trill
Redirect permanent /specie/klingon.html http://www.hypertrek.info/index.php/klingon
Redirect permanent /specie/k/klingon.html http://www.hypertrek.info/index.php/klingon
Redirect permanent /specie/ferengi.html http://www.hypertrek.info/index.php/ferengi
Redirect permanent /specie/f/ferengi.html http://www.hypertrek.info/index.php/ferengi
Redirect permanent /specie/h/hirogeni.html http://www.hypertrek.info/index.php/hirogeni
Redirect permanent /specie/v/vulcaniani.html http://www.hypertrek.info/index.php/vulcaniani
Redirect permanent /starfleet/uniformi/tos.html http://www.hypertrek.info/index.php/unitos
Redirect permanent /starfleet/uniformi/equivalenti-italiani.html http://www.hypertrek.info/index.php/unieqitaliani
Redirect permanent /tech/warp/tng.html http://www.hypertrek.info/index.php/warptng
Redirect permanent /tech/warp/transwarp.html http://www.hypertrek.info/index.php/transwarp
Redirect permanent /tech/warp/tabella.html http://www.hypertrek.info/index.php/warptabella
Redirect permanent /xr/p/powers.html http://www.hypertrek.info/index.php/powerskatharyn
Redirect permanent /xr/a/allenm.html http://www.hypertrek.info/index.php
Redirect permanent /xr/r/roddenberry.html http://www.hypertrek.info/index.php/roddenberrygene
Redirect permanent /xr/f/fontana.html http://www.hypertrek.info/index.php/fontanadc
Redirect permanent /personaggi/m/medicoolografico.html http://www.hypertrek.info/index.php/medicoolografico
Redirect permanent /personaggi/q/quark.html http://www.hypertrek.info/index.php/quark
Redirect permanent /personaggi/d/data.html http://www.hypertrek.info/index.php/data
Redirect permanent /personaggi/g/guinan.html http://www.hypertrek.info/index.php/guinan
Redirect permanent /goto.html http://www.hypertrek.info/

